* {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: "lato", sans-serif;
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.hero {
  background-color: #ccfcea;
  background-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(#27ba90),
    to(#ccfcea)
  );
  background-image: -webkit-linear-gradient(top left, #27ba90, #ccfcea);
  background-image: -o-linear-gradient(top left, #27ba90, #ccfcea);
  background-image: linear-gradient(to bottom right, #27ba90, #ccfcea);
  min-height: 70vh;
  top: 15px;
  left: 15px;
  padding: 0 15px;
  width: 100%;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.hero {
  display: flex;
  max-height: inherit;
}

 .greeting {
  flex: 1;
  font-family: "lato", sans-serif;
  color: white;
}

.intro {
    margin-top: 15px;
    margin-bottom: 15px;
    color: white;
}

.hero-photo {
  flex: 1;
  background: url(/images/chicken.png) no-repeat center center fixed;
  background-size: contain;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  margin-right: 20px;
}

.hero-section {
    display: flex;
    width: 50%;
    height: 250px;
    justify-content: center;
    align-items: center;
}
.hero-section img {
    object-fit: contain;
    height: 250px;

}

.social-media {
        display: flex;
        font-size: 3em;
        align-items: center;
        justify-content: space-between;
        padding: 2px;
        color: white;
      }
.social-media a {
    color: white;
}
.social-media a:hover {
        color: lightgray;
}

.email {
    color: white
}

.email-me {
    font-family: "lato", sans-serif;
    font-size: 2em;
}
.content {
    display: flex;
    font-family: "lato", sans-serif;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
    border: 1px;
    height: 100%;
    width: 70%;
    align-content: center;
    margin: 80px;
    }   

    .about-me {
    flex: 1 100%;
    height: 100%;
    margin: 8px 0 8px 0;
    background-color: white;
    width: 50%;
    }

    .my-process {
        flex: 1 100%;
        margin: 8px 0 8px 0;
        height: 100%;
        width: 50%;
    }

    .credential{
        flex: 1 100%;
        margin: 8px 0 8px 0;
        height: 100%;
        width: 50%;
    }
    .example-image1 {
        flex: 1;
        background: url(/images/jose-aljovin-tdz9pb_ScG8-unsplash.jpg) no-repeat center center fixed;
    }
    /* .container {
        display: flex;
    }
    .greeting {
        flex: 1;

    }

    .intro {
        flex: 2;
        display: block;

    } */

    /* #AFBFC0
    #95A3A4
    #351431
    #CCFCEA
    #27BA90 */
